*,*::after, *::before{
    margin:0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
}
.nav {
    background: linear-gradient(90deg, rgba(238, 193, 57, 0.938813025210084) 35%, rgba(152, 255, 152, 1) 50%);
    /* Cambia el color de fondo  */
    color: #fff;
    /* Cambia el color del texto*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    /* Asegura que el navbar esté sobre otros elementos */
    -webkit-box-shadow: 0px 7px 5px -4px rgba(0, 0, 0, 0.50);
    -moz-box-shadow: 0px 7px 5px -4px rgba(0, 0, 0, 0.50);
    box-shadow: 0px 7px 5px -4px rgba(0, 0, 0, 0.50);
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 15px;
    display: flex;
    justify-content: center;
}

.nav li {
    margin: 0 20px;
}

.nav a {
    text-decoration: none;
    color: #fff;
    /* Cambia el color del texto según tus preferencias */
}

/* Estilos del contenido de la página */

/* Estilos adicionales según tus preferencias */
.brand {
    margin-left: 60px;
    margin-top: 5px;
    margin-bottom: 5px;
    float: left;
    font-size: 25px;
    font-weight: bold;
}
@font-face {
    font-family: Pacifico-Regular;
    src: url('../fuentes/Pacifico-Regular.ttf');
}

.brand-2{
    font-style: oblique;
    font-family: Pacifico-Regular;
    font-weight: 300;
}

.nav-menu{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 3.5rem;
}

.toggler div{
    width: 2.5rem;
    height: 0.2rem;
    margin: 0.5rem;
    background: white;
    transition: 0.4s ease-in;
}
.toggler{
    margin-top: 15px;
    margin-right: 60px;
    cursor: pointer;
    display: none;
}

@media screen and (max-width:768px) {
.toggler{
    display: block;
    float: right;
}    
.nav-menu{
    position: fixed;
    top: 8.4vh;
    right:0;
    width: 50%;
    height: 93vh;
    background: rgb(238, 193, 57);
    background: linear-gradient(0deg, rgba(238, 193, 57, 0.938813025210084) 38%, rgba(152, 255, 152, 1) 100%);
    flex-direction: column;
    transform: translateX(100%);
    transition: 0.5s ease-in;
    z-index: 3;
    
}
}
/*activar clase*/
.nav-active {
    transform: translateX(0);
}
/*animaicon*/

.toggle .line1{
    transform: rotate(-45deg) translate(-4px, 5px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-4px, -5px);
}