.poemas-container{
    position: relative;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    padding-left: 15px;
    padding-right: 15px;

}

   .titulo ,.poema,.poema-blurred{
     text-align: left;
}
.separador-verde{
    position: absolute;
    width: 92%;
    margin: 0 auto;
    border-radius: 2px;
    height: 1px;
    border: none;
    background:rgba(152, 255, 152, 1);
    z-index: -1;
}


.separador{
    position: absolute;
    width: 92%;
    margin: 0 auto;
    border-radius: 2px;
    height: 1px;
    border: none;
    background: rgba(238, 193, 57, 0.622);
    z-index: -1;
}

.btn-toggle-poema-v{
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
    border: none;
    background: linear-gradient(to bottom, rgba(243, 243, 245, 0), 95%, rgba(152, 255, 152, 0.622));
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.4s ease-out 0.3s;
}
.btn-toggle-poema-v:hover {
    background-color: rgba(152, 255, 152, 0.622);
}

.btn-toggled-poema-v {
    background: linear-gradient(to bottom, rgba(243, 243, 245, 0), 70%, rgba(152, 255, 152, 0.622));
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    border: none;
    width: 100%;
    height: 50px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.4s ease-out 0.2s;

}

.btn-toggled-poema-v:hover {
    background-color: rgba(152, 255, 152, 0.622);
}

.btn-toggle-poema {
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
    border: none;
    background: linear-gradient(to bottom, rgba(243, 243, 245, 0), 95%, rgba(238, 193, 57, 0.622));
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.4s ease-out 0.3s;
}

.btn-toggle-poema:hover {
    background-color: rgba(238, 193, 57, 0.622);
}


.btn-toggled-poema {
    background: linear-gradient(to bottom, rgba(243, 243, 245, 0), 70%, rgba(238, 193, 57, 0.622));
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    border: none;
    width: 100%;
    height: 50px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.4s ease-out 0.2s;

}

.btn-toggled-poema:hover {
    background-color: rgba(238, 193, 57, 0.622);
}






.fecha-none{
    display:none;
}
.fecha{
    display:block;
}


.poema-blurred {
    padding-left: 10px;
    position: relative;
    font-size: 16px;
    line-height: 1.5;
    z-index: -1;
}

.poema-blurred::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
    /* Ajusta el valor según tus necesidades */
    background: linear-gradient(transparent, white);
    filter: blur(5px);
    /* Ajusta el valor de desenfoque según tus necesidades */
    pointer-events: none;
    
}

.poema{
    animation-duration: 0.8s;
    animation-name: dropdown;
}
@keyframes dropdown{
    from {
        opacity: 0;
    }
    to{
       opacity: 1;
    }
}


/*body {
    font-family: Arial, sans-serif;
    background: #ffffff;
    padding: 20px;
}

.blurred-text {
    filter: blur(3px);
    transition: filter 0.3s ease;
}

.hidden-text {
    display: none;
    transition: filter 0.3s ease;
}

#toggleBtn {
    margin: 20px auto;
    padding: 10px 20px;
    border: none;
    background: linear-gradient(rgba(255, 255, 255, 1) 30%, rgba(255, 165, 0, 1));
    color: black;
    cursor: pointer;
    outline: none;
    border-radius: 4px;
    transition: background 0.3s ease;
}

#toggleBtn:hover {
    background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 140, 0, 1));*/
