.nav-poemas li a{
    cursor: pointer;
    padding-right: 5px;
}
.nav-poemas li{
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
}

.nav-poemas {
    padding-top: 75px;
    padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.favouriteAnimation, .todosAnimation {
    animation-duration: 0.4s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: 50%;
        width: 100%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

